<h2 mat-dialog-title>
  {{ isEditMode ? 'Editar Empresa' : 'Alta Empresa' }}
</h2>

<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="guardar()">

    <!-- Nombre -->

    <mat-form-field appearance="fill" class="w-full">

      <mat-label>Nombre</mat-label>

      <input
        matInput
        formControlName="nombre"
        required
      />

      <mat-error *ngIf="form.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>

      <mat-error *ngIf="form.get('nombre')?.hasError('whitespace')">
        El nombre no puede ser solo espacios
      </mat-error>

    </mat-form-field>

    <!-- Botones -->

    <div class="flex items-center justify-end gap-x-3 mt-6">

      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="cancelar()">

        Cancelar

      </button>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid">

        Guardar

      </button>

    </div>

  </form>

</div>